{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if titlr %}
  <title>Picture Gallery-{{ title }}</title>
  {% else %}
  <title>Picture Gallery</title>
  {% endif %}
  {% bootstrap_css %}
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PicsaNator</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'picgallery-gallery' %}">Home</a>
          <a class="nav-link" href="{%url 'picgallery-addpics'%}">Add pics</a>
          <a class="nav-link" href="{% url 'picgallery-gallery'%}">Gallery</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categories %}
              <li><a class="dropdown-item" href="#">{{ category.name }}</a></li>
              {% endfor %}
              
              <!-- <li><a class="dropdown-item" href="#">Food</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Fashion</a></li> -->
            </ul>
          </li>
  
        </div>
      </div>
    </div>
  </nav>


  


  <div class="container m-5 ">
    
    {% block content %}
    
  {% endblock content %}
  </div>
  
  

  {% bootstrap_javascript %}
</body>
</html>